body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.form-container {
    max-width: 25rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #fff;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.input-group input {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.1875rem;
}
main {
    user-select: none;
    cursor: default;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna*/
    grid-gap: 20px;/* Agrega espacio entre las filas y el ancho máximo */
    max-width: 100%;
    margin: 0 auto;
}

.grid-item {/* Estilos para los elementos dentro de la cuadrícula */
    background-color: #fff;
    padding: 20px;
    text-align: center;
}